[user]
	name = whiteding
	eamil = 15262691505@163.com
;         email = whiteding@tencent.com
; [http "https://git.code.oa.com"]
;       proxy = http://127.0.0.1:12639
; [http "http://git.code.oa.com"]
;       proxy = http://127.0.0.1:12639
[core]
	excludesfile = ~/.gitignore_global
